@use "../partials/utilities/variables";
.p-reviews {
    color:indigo;
    font-size: 35px;
    font-family:variables.$font-imperial;
}
.card-propio {
    width: 18rem;
    background-color:rgb(209,216,216);
}
.titulo-reviews {
    font-family: variables.$fuente-secundaria;
    margin-bottom: 30px;
}